.card {
  text-align: left;
  width: 370px;
  margin: 30px auto;
  border-radius: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.card1 {
  border: none;
  padding: 50px 30px;
  height: 250px;
  background-color: aquamarine;
}

.btn {
  font-size: medium;
  padding: 12px 32px;
  background-color: white;
  border: none;
  border-radius: 30px;
}
p {
  font-size: small;
}
.card2,
.card3 {
  border: 1px solid lightgray;
  padding-bottom: 10px;
}
.card2 h3,
.card2 p {
  margin-left: 20px;
}

.img-profile {
  width: 50px;
  height: 50px;
  padding: 20px auto;
  border-radius: 50%;
  margin-left: 40px;
}

.card2 a {
  text-decoration: none;
  font-size: small;
  margin-left: 20px;
}

.card3 .img-google {
  display: block;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card3 hr {
  margin: 0;
  padding: 0;
}

.card3 h3,
.card3 p {
  margin: 20px;
}
.btn2 {
  border: 1px solid lightgray;
  border-radius: 4px;
  color: blue;
  background-color: white;
  margin-left: 20px;
  padding: 10px;
}

.card4 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input {
  margin-bottom: 20px;
  padding: 15px 20px;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-sizing: border-box;
}

.btn3 {
  font-size: medium;
  color: white;
  padding: 12px 32px;
  background-color: black;
  border: none;
  border-radius: 30px;
  margin: 20px;
}
.card4 p {
  color: gray;
}
.card4 a {
  color: black;
}
